In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('udf_age').getOrCreate()

[과제: udf 등록 및 SQL 처리]
UDF 함수명: age_category(age)
- age가 35살 미만: 'young'
- age가 35살-59살: 'adult'
- age가 60살 이상: 'senior'

데이터프레임
- 변수: name, age (예: '안현', 39)
- 데이터 5개~10개 생성 

SQL 출력 결과: name, age_category(age)

- 제출 방법: GitHub에 업로드
- 제출 기한: 5.24(수)

In [2]:
 personal_data = [
    ('이은수', 22),
    ('마동석', 52),
    ('이순재', 89),
    ('찰리 푸스', 33),
    ('최정훈', 32),
    ('유재석', 52),
    ('오지율', 9)
]

In [3]:
per_Schema = ['name' , 'age']
df_per = spark.createDataFrame(data =  personal_data , schema = per_Schema)

In [4]:
df_per.show()

+---------+---+
|     name|age|
+---------+---+
|   이은수| 22|
|   마동석| 52|
|   이순재| 89|
|찰리 푸스| 33|
|   최정훈| 32|
|   유재석| 52|
|   오지율|  9|
+---------+---+

In [5]:
df_per.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [6]:
df_per.createOrReplaceTempView('personal_data')

In [7]:
from pyspark.sql.functions import udf

In [8]:
def age_category(age):
    if age < 35 :   #35세 미만
        age = 'young'
    elif age >= 35 and age <= 59 : #35세 이상 59세 이하
        age = 'adult'
    elif age >= 60 :  #60세 이상 
        age = 'senior'
    return age

In [9]:
spark.udf.register('age_category', age_category)

In [13]:
spark.sql("SELECT name, age_category(age) AS age_category FROM personal_data").show()

+---------+------------+
|     name|age_category|
+---------+------------+
|   이은수|       young|
|   마동석|       adult|
|   이순재|      senior|
|찰리 푸스|       young|
|   최정훈|       young|
|   유재석|       adult|
|   오지율|       young|
+---------+------------+